.error-page {
    height: 70vh;
}
.page-summary {
    margin-bottom: 1.0em;
}
.is-margin-6 {
    margin: 1em;
}
.is-margin-8 {
    margin: 0.5em;
}
.is-margin-bottom-6 {
    margin-bottom: 1em;
}
.is-margin-bottom-9 {
    margin-bottom: 0.25em;
}
