{{ partial "header.html" . }}

<div class="content has-text-justified">
  {{.Content}}
</div>

<div class="columns is-multiline is-paddingless">
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/pustike-inject">Pustike Inject</a></p>
      </header>
      <div class="card-content">
        Implementation of JSR-330: Dependency Injection for Java.
      </div>
      <div class="card-image">
        <figure class="image">
          <a href="/projects/pustike-inject">
            <img src="/images/projects/pustike-inject.png" width="760" height="200">
          </a>
        </figure>
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/pustike-eventbus">Pustike EventBus</a></p>
      </header>
      <div class="card-content">
        Event Bus based on publish-subscribe pattern.
      </div>
      <div class="card-image">
        <figure class="image">
          <a href="/projects/pustike-eventbus">
            <img src="/images/projects/pustike-eventbus.png" width="760" height="200">
          </a>
        </figure>
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/pustike-web">Pustike Web</a></p>
      </header>
      <div class="card-content">
        RESTful Web services using JAX-RS like API. (Work In Progress)
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/pustike-persist">Pustike Persist</a></p>
      </header>
      <div class="card-content">
        Object Persistence API (Work In Progress)
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/javax.inject">Javax Inject</a></p>
      </header>
      <div class="card-content">
        A fork of the JSR-330 specification.
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/commons-csv">Commons CSV</a></p>
      </header>
      <div class="card-content">
        This library is a fork of the Apache Commons CSV.
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/pustike-maven-parent">Pustike Maven Parent</a></p>
      </header>
      <div class="card-content">
        Contains common Maven configuration for Pustike projects.
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header has-background-white-ter">
        <p class="card-header-title"><a href="/projects/website">Website</a></p>
      </header>
      <div class="card-content">
        My personal blog and website built using Hugo. (Work In Progress)
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
