<div class="page-summary">
  <div itemscope itemtype="http://schema.org/CreativeWork">
    <h1 class="title is-5 is-marginless">
      <a href="{{ .Permalink }}" itemprop="headline">{{ .Title }}</a>
    </h1>
    <div class="is-italic">
      <time datetime="{{ .Date.Format " 2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan, 2006" }}</time>
    </div>
    <h2 class="content has-text-justified" itemprop="description">
      {{ .Summary }}
    </h2>
  </div>
  <div class="button is-text is-small">
    <a href="{{ .RelPermalink }}" itemprop="url">Read More…</a>
  </div>
</div>
