{{ partial "header.html" . }}

<div>
  <h1 class ="title">{{ .Title }}</h1>

  <div class="content has-text-justified">
    {{.Content}}
  </div>
</div>

<nav class="pagination is-centered has-small-margin" role="navigation" aria-label="pagination">
  {{if .PrevInSection }}
  <a class="pagination-previous has-text-link" href="{{.PrevInSection.Permalink}}">Previous</a>
  {{ end }}

  {{ if .NextInSection }}
  <a class="pagination-next has-text-link" href="{{.NextInSection.Permalink}}">Next</a>
  {{ end }}
  <ul class="pagination-list">
  </ul>
</nav>

{{ partial "footer.html" . }}